@use '@material/button/styles';
@use '@material/button';

:host {
  .mdc-button {
    --mdc-theme-primary: var(--brand-color-primary);
    --mdc-theme-on-primary: var(--neutral-white);

    width: 100%;
    font-family: var(--font-family-work-sans);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 16px;
    text-transform: none;

    @include button.height(56px);
    @include button.shape-radius(32px);

    &--md {
      @include button.height(40px);
    }

    &--secondary {
      --mdc-theme-primary: var(--blue-gray-10);
      --mdc-theme-on-primary: var(--brand-color-secondary);

      @include button.shape-radius(8px);

      box-shadow: none;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
    }
  }
}
