@use '@material/button/styles';
@use '@material/button';

:host {
  .mdc-button {
    --mdc-theme-primary: var(--brand-color-primary);
    --mdc-theme-on-primary: var(--neutral-white);

    font-family: var(--font-family-work-sans);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    text-transform: none;

    @include button.height(56px);
    @include button.shape-radius(32px);
    @include button.horizontal-padding(128px);
  }
}
