.container {
  padding: 32px 24px 40px;
  background-color: var(--neutral-white);
  border-radius: 8px;
  box-shadow: 0px 16px 32px rgba(30, 42, 50, 0.08);

  @media screen and (min-width: 768px) {
    padding: 36px 40px 40px;
  }

  &__header {
    display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
      margin-bottom: 28px;
    }

    &-img {
      margin-right: 16px;
    }

    &-title {
      margin: 0 auto 4px;
      color: var(--blue-gray-900);
      font-family: var(--font-family-rubik);
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;

      @media screen and (min-width: 768px) {
        font-size: 24px;
        line-height: 28px;
      }
    }

    &-subtitle {
      margin: 0;
      color: var(--blue-gray-400);
      font-family: var(--font-family-work-sans);
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;

      @media screen and (min-width: 768px) {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &-button {
      padding-top: 8px;
      text-align: center;
    }
  }

  .form {
    &__input {
      height: 56px;
      padding: 0 44px;
      border: 1px solid var(--blue-gray-50);
      border-radius: 4px;

      &-container {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @media screen and (min-width: 768px) {
          flex-direction: row;
          justify-content: space-between;
        }
      }

      &-month {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: var(--font-family-work-sans);
        font-size: 14px;
        line-height: 21px;

        @media screen and (min-width: 768px) {
          font-size: 16px;
          line-height: 24px;
        }

        &-arrow {
          cursor: pointer;

          &--disabled {
            cursor: not-allowed;
            opacity: 0.4;
          }
        }

        &-current {
          &-month {
            font-weight: 600;
          }

          &-year {
            font-weight: 400;
          }
        }

        &-container {
          display: flex;
          height: 56px;
          box-sizing: border-box;
          justify-content: space-between;
          padding: 0 20px;
          border: 1px solid var(--blue-gray-50);
          border-radius: 4px;

          @media screen and (min-width: 768px) {
            width: 192px;
          }
        }
      }

      &-dollar-sign {
        position: absolute;
        top: 48%;
        left: 12px;

        padding: 17px 15px;
        background: url('/assets/dollar-sign-icon.svg') no-repeat;
      }

      &-amount {
        width: 100%;
        box-sizing: border-box;
        color: var(--blue-gray-600);
        font-family: var(--font-family-rubik);
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;

        @media screen and (min-width: 768px) {
          font-size: 24px;
          line-height: 28px;
        }
      }

      &-group {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 4px;
      }

      &-label {
        color: var(--blue-gray-900);
        font-family: var(--font-family-work-sans);
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;

        @media screen and (min-width: 768px) {
          font-size: 14px;
          line-height: 21px;
        }
      }
    }
  }
}
