<div class="container">
  <header class="container__header">
    <img
      class="container__header-img"
      src="/assets/house-icon.svg"
      alt="House icon"
    />
    <div>
      <h2 class="container__header-title">Buy a house</h2>
      <h3 class="container__header-subtitle">Saving goal</h3>
    </div>
  </header>

  <form class="container__form form" [formGroup]="savingGoalsForm">
    <div class="form__input-group">
      <label class="form__input-label">Total amount</label>
      <input
        currencyMask
        [options]="{
          thousands: ',',
          decimal: '.',
          align: 'left',
          prefix: '',
          precision: 2
        }"
        class="form__input form__input--amount"
        formControlName="amount"
      />
      <i class="form__input-dollar-sign" aria-hidden="true"></i>
    </div>

    <div class="form__input-group">
      <label class="form__input-label">Reach goal by</label>
      <input type="date" formControlName="reachDate" [min]="minDate" hidden />
      <div class="form__input-month-container">
        <img
          (click)="setPreviousMonth()"
          [ngClass]="{
            'form__input-month-arrow': true,
            'form__input-month-arrow--disabled': !this.canSetPreviousMonth
          }"
          src="/assets/left-arrow-icon.svg"
          alt="Left arrow"
        />
        <div class="form__input-month">
          <div class="form__input-month-current-month">
            {{ reachDateMonth }}
          </div>
          <div class="form__input-month-current-year">{{ reachDateYear }}</div>
        </div>
        <img
          (click)="setNextMonth()"
          class="form__input-month-arrow"
          src="/assets/right-arrow-icon.svg"
          alt="Right arrow"
        />
      </div>
    </div>

    <saving-goals-feedback-card
      [totalAmount]="savingGoalsForm.get('amount')?.value"
      [finalDate]="finalDate"
      [numberOfMonths]="numberOfMonths"
      [monthlyAmount]="savingGoalsForm.get('amount')?.value / numberOfMonths"
    ></saving-goals-feedback-card>

    <saving-goals-button type="submit">Confirm</saving-goals-button>
  </form>
</div>
